SERVER_PORT='PORTA QUE VOCÊ QUEIRA RODAR O SERVIDOR'
SERVER_HOST='HOST DO SEU SERVER'
NODE_ENV='AMBIENTE DO SEU NODE'
JWT_TOKEN_SECRET='SEU JWT TOKEN SECRET'
DB_HOST='HOST DO SEU BANCO DE DADOS'
DB_USER='SEU USUARIO DO BANCO DE DADOS'
DB_PASSWORD='SENHA DO SEU BANCO DE DADOS'
DB_DATABASE='NOME DO SEU BANCO DE DADOS'
DB_DATABASE_TEST='NOME DO SEU BANCO DE DADOS DE TESTE'
DB_PORT='PORTA DO SEU BANCO DE DADOS'
